.App {
  min-height: 100vh;
  background: rgba(78, 78, 131, 0.808);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: blue;
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
